# .env
DATABASE_URL=postgres://cmsrust:dev_password@localhost:5432/cmsrust
COOKIE_SECRET_KEY=
JWT_SECRET=
AUTH_COOKIE_NAME=cms_auth_token
APP_PORT=8000

# Данные для первого админа
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=StrongPassword123!

# Сгенерировать ключ JWT_SECRET в терминале (Linux/Mac):
openssl rand -base64 32

# Сгенерировать ключ COOKIE_SECRET_KEY в терминале (Linux/Mac):
openssl rand -base64 64
